body{
  margin: 0;
}
  h2{
    text-align: center;
    font-size: 36px;
    text-decoration-line: underline;
  }

.linebreak{
padding-left: 350px;
}

/*Primary Navigation*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#7c6e7f;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.logo{
float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: larger;
}

.active{
  color:#7c6e7f;
  background-color:white;
  height: 20px;
}

/*Hero Section*/

.herosection{
  padding-top: 40px;
}

#profilepicture{
  float:right;
  margin-right: 200px;
  margin-bottom: 10px;
}

h1{
  padding-left: 100px;
  padding-top: 40px;
  float: left;
  font-size: 40px;
  color:indigo
}

.title_subheading{
  float: left;
  font-size: 28px;
  padding-top: 40px;
  padding-left:10px;
  color: black;
}

/*Caset Studies*/
.section2{  
  height: 1600px;
  display: block;
  box-sizing: border-box;
}

.casestudysection{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 100px;
}

.casestudyimageleft{
 float: left;
 padding-left: 100px;
 width: 100%;
}

.sectionright{
  position: relative;
  top: 50%;
  margin: 0 auto;
}

.sectionleft{
  position: relative;
  top: 50%;
  padding-right: 60px;
  margin: 0 auto;
}

.casestudyimageright{
  float: right;
  padding-right: 100px;
  width: 100%;
 }

 .righttext{
  float: left;
  width: 100%;
  padding-right: 100px;
 }

.greycolor{
  color: grey;
}

.pbold{
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
}

.headline{
  font-weight: 700;
  font-size: 32px;
  line-height: 64px;
}

.copy{
  font-weight: 300;
  font-size: 16px;
  line-height: 28px; 
}

.space_l{
    padding-bottom: 70px;
  }

.space_m{
  padding-top: 50px;
}

.casestudybutton{
  border: 2px solid;
  border-color: #7a4988;
  border-radius: 25px;
  background-color: #ffffff;
  color: #7a4988;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

.casestudybutton:hover {
  background-color: #7a4988;
  color: white;
}

/*My Skills*/
.mySkills{  
  height: 930px;
}

.flexContainer1{
display: flex;
flex-direction: row;
margin: 20px;
}

.flexContainer2{
  display: flex;
  flex-direction: row;
  margin: 20px;
  }

.flexchild{
  width: 33%;
  padding: 20px;
  text-align: center;
}

.myskillsimage{
  padding-left: 10px;
  padding-right: 10px;
align-items: center;
}


/*bottomnavigationbar*/
.footer{
  background-color: #7c6e7f;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
}

.footer a{
  text-decoration: none;
}

.socialmedia{
color: white;
text-decoration: none;
font-size: 22px;
margin: 20px;
padding-right: 30px;
}

@media only screen and (max-width: 600px) {
.flexContainer1{
display: flex;
flex-direction: column;
}

.flexContainer2{
  display: flex;
  flex-direction: column;
  }

.flexchild{
  width: 50%;
}
}