body{
  margin: 0;
}
  h2{
    text-align: center;
    font-size: 36px;
    text-decoration-line: underline;
  }


/*Primary Navigation*/

.nav{
  background-color: salmon;
  text-align: right;
}
.navitem{
  width: 150px;
  display: inline-block;
  height: 40px;
  padding-top: 15px;
  padding-left: 50px;
  color: white;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 25px;
}

.nav a{
  padding-right: 50px;
}

.navitemactive{
  width: 150px;
  display: inline-block;
  height: 40px;
  padding-top: 15px;
  padding-left: 50px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 25px;
color:white;
text-decoration-line:overline;
}

/*Hero Section*/

.herosection{
  border-style: solid;
  border-width: 2px;
  border-color: red;
  height: 350px;
  padding-top: 40px;
}

#profilepicture{
  float:right;
  padding-right: 200px;
}

h1{
  padding-left: 200px;
  padding-top: 50px;
  float: left;
  font-size: 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.title_subheading{
  float: left;
  font-size: 32px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  padding-top: 150px;
  padding-left: 200px;
}

/*Caset Studies*/
.section2{  
  height: 1200px;
  border-style: solid;
  border-width: 2px;
  border-color: red;
  display: block;
  box-sizing: border-box;
}

.casestudysection{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 100px;
}

.casestudyimageleft{
 float: left;
 padding-left: 100px;
 width: 100%;
}

.sectionright{
  position: relative;
  top: 50%;
  padding-left: 300px;
  margin: 0 auto;
}

.sectionleft{
  position: relative;
  top: 50%;
  padding-right: 60px;
  margin: 0 auto;
}

.casestudyimageright{
  float: right;
  padding-right: 100px;
  width: 100%;
 }

 .righttext{
  float: left;
  width: 100%;
  padding-right: 100px;
 }

.greycolor{
  color: grey;
}

.pbold{
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
}

.headline{
  font-weight: 700;
  font-size: 32px;
  line-height: 64px;
}

.copy{
  font-weight: 300;
  font-size: 16px;
  line-height: 28px; 
}

.space_l{
    padding-bottom: 70px;
  }

.space_m{
  padding-top: 50px;
}

.casestudybutton{
height: 45px;
width: 200px;
background-color: white;
color: darkslategray;
border-radius: 8px;
cursor: pointer;
font-size: 16px;
}

/*My Skills*/
.mySkills{  
  height: 600px;
  border-style: solid;
  border-width: 2px;
  border-color: red;
}

.flexContainer{
display: flex;
flex-direction: row;
}

.flexchild{
  width: 33%;
  padding: 20px;
  margin: 50px;
  border: solid;
  text-align: center;
}

.myskillsimage{
  padding-left: 10px;
  padding-right: 10px;
align-items: center;
}

/*bottomnavigationbar*/
.footer{
  background-color: salmon;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
}

.footer a{
  text-decoration: none;
}

.socialmedia{
color: white;
text-decoration: none;
font-size: 22px;
margin: 20px;
padding-right: 30px;
}

@media only screen and (max-width: 600px) {
.flexContainer{
display: flex;
flex-direction: column;
}

.flexchild{
  width: 50%;
}
}